.Header {
    background-color: rgb(15, 15, 14);
    height: 3em;
    left: 0;
    line-height: 3em;
    width: 100%;
    font-size: 20pt;
    position: fixed;
    top: 0;
    display: box;
    z-index: 10000;
}

#main {
    background-color: rgb(131, 127, 69);
    height:500px;
    /*left: 0;*/
    width: 100%;
    display: box;
    /*top: 0; */
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Verdana";
    font-size: 14pt;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    color: azure;
}

*::before, *::after {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
