.Header {
    background-color: rgb(29, 52, 71);
    height: 4em;
    left: 0;
    line-height: 4em;
    font-size: 14pt;
    position: fixed;
    top: 0;
    z-index: 10000;
    width:100%;
}

#title {
    text-align: left;
    position:absolute;
    left: 1.25em;
}

.nav {
    line-height: inherit;
    height: inherit;
    position:absolute;
    top:0;
    right:0;
}

.nav a{
    position:absolute;
    right: 3.25em;
}

.menuButton{
    position:absolute;
    top:1.25em;
    padding-left: 0.75em;
    cursor: pointer;
}

.menuButton::before {
    content: "";
    background-image: url("assets/img/hamburger.svg");
    background-size: 2rem;
    background-position: 0 1;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
    display: block;
}

#main {
    height:1000px;
    position: relative;
    display:block;
}

section {
    text-align: center;
    font-size: 15px;
}

.innerhead {
    font-family: "Verdana";
    font-size: 14pt;
    letter-spacing: 0.2em;
    line-height: 2.5em;
    height:50%;
    color: azure;
    text-align: center;
    background-color: rgb(131, 127, 69);
    padding: 9em 0 3em 0;
    align-self: center;
    display:block;
}

.assignment-body {
    /*background-color: aqua;*/
    height: 300px;
    color:black;
}

.trademark {
    background-color: rgb(34, 31, 31);
    padding: 3em 0 3em 4em;
    text-align: left;
    font-size: 10pt;
}

.sidebar {
    visibility: hidden;
    display: block;
    position: fixed;
    height: 100%;
    width:30%;
    top: 5em;
    right:0;
    background-color: rgb(29, 52, 71);
    z-index: 100;
    line-height: 5em;
}

.menuOpen .sidebar{
    visibility: visible;
}

.page-wrapper {
    visibility: hidden;
    display:block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity:0.5;
    background-color: rgb(83, 87, 36);
    background-color: rgba(0,0,0,0,4);
}

.menuOpen .page-wrapper {
    visibility: visible;
}

.menu {
    text-decoration: none;
    color: azure;
}

.menu:hover {
    color: rgb(176, 190, 190);
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Verdana";
    font-size: 10pt;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    color: azure;
}

*::before, *::after {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
