.Header {
    background-color: yellow;
    position: fixed;
    display: inline-block;
}
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Verdana";
    font-size: 14pt;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    color: azure;
}

*::before, *::after {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
