.Header {
    font-size: 32pt;
    position: relative;
    display: inline-block;
    padding: 0.35em 1em;
    margin-bottom: 0.6em;
}

.inner {
    padding: 2em 0 2em 0;
}

.title {
    font-size: 13pt;
    height: 100vh;
    min-height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(29, 52, 71);
}

.about {
    padding: 3em 0 3em 0;
    
}

.trademark {
    background-color: rgb(34, 31, 31);
    padding: 3em 0 3em 4em;
    text-align: left;
}

section {
    text-align: center;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Verdana";
    font-size: 10pt;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    color: azure;
}

*::before, *::after {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
