/*========================= Title =========================*/
.Header {
    font-size: 40pt;
    position: relative;
    display: inline-block;
    padding: 0.35em 1em;
    margin-bottom: 0.6em;
    transform: translateY(12px);
}

.headerInfo {
    transform: translateY(12px);
}

.inner {
    padding: 2em 0 2em 0;
}

.title {
    font-size: 13pt;
    height: 100vh;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 52, 71);
}

.hex-container {
    margin:0;
    padding:0;
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.hex-container .hexagonArea {
    display: flex;
}

.hex-container .hexagonArea.first {
    transform: translateY(0px);
}

.hex-container .hexagonArea.middle {
    transform: translateY(-15px);
}

.hex-container .hexagonArea.last {
    transform: translateY(-30px);
}

.hex-container .hexagonArea .hexagon {
    position: relative;
    width: 100px;
    height: 125px;
    margin: 0 10px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: #926921;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;
}

.hex-container .hexagonArea .hexagon.inner {
    position: relative;
    width: 100px;
    height: 125px;
    margin: 0 10px;
    clip-path: polygon(5% 27.5%, 50% 5%, 95% 27.5%, 95% 72.5%, 50% 95%, 5% 72.5%);
    background: #F7E346;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: .5s;
}

.hex-container .hexagonArea .hexagon:hover {
    /* background: #F8E195; */
    transform: scale(0.95);
}

.hex-container .hexagonArea .hexagon.inner:hover {
    background: #F8E195;
    transform: scale(0.95);
}

.hex-font-small {
    color:rgb(29, 52, 71);
    font-family: "Verdana";
    font-weight: bold;
    font-size: 8pt;
    letter-spacing: 0.1em;
    line-height: 1.5;
    padding-left: 5%;
    padding-right: 5%;
}

.hex-font-large {
    color:rgb(29, 52, 71);
    font-family: "Verdana";
    font-weight: bold;
    font-size: 20pt;
    letter-spacing: 0.1em;
}

.no-underline {
    text-decoration: none;
}

.circleContainer {
    position: absolute;
    right: 0;
    height: 80vh;
    width: 80vh;
    overflow: hidden;
}

.circleDecor {
    content: "";
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 80vh;
    width: 80vh;
    position: absolute;
    animation: r1 36s cubic-bezier(0, 0, 1, 1) infinite;
}

.upperCon {
    bottom: 0;
}

.bottomCon {
    top: 0;
}

.upper {
    bottom: -50%;
    background-image: url("assets/img/cool-circle-top.svg");
}

.bottom {
    top: -50%;
    background-image: url("assets/img/cool-circle-bottom.svg");
}

@keyframes r1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*========================= About =========================*/
.about {
    height: 65vh;
    padding: 3em 0 3em 0;
    position: relative;
    color: rgb(29, 52, 71);
}

.aboutHeader {
    margin-bottom: 2em;
}

.swiper-container {
    position: relative;
    width: 100%;
    right: 0;
    overflow: hidden;
}

.swiper-slide {
    border: 3px solid rgb(29, 52, 71);
    background-size: cover;
    background-position: 50%;
    background-color: azure;
    min-height: 20vh; /* sets the minimum height of an element */
    height: 40vh !important;
    
    display: flex;
    align-items: center;
    justify-content: left; 
    flex-direction: row;
}

.swiper-slide > div {
    flex-grow: 1;
}

.swiper-wrapper {
    padding-bottom: 40px;
    height: 100%
}

.swiper-scrollbar {
    bottom: 10px !important;
    width: 30vw !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    height: 2px !important;
    background-color: rgb(29, 52, 71) !important;
}

.swiper-scrollbar-drag {
    background-color: rgb(29, 52, 71) !important;
    height: 7px !important;
    border-radius: 3px !important;
    margin-top: -3px !important;
    cursor: pointer;
}

/*========================= Trademark =========================*/
.trademark {
    background-color: rgb(34, 31, 31);
    padding: 3em 0 3em 4em;
    text-align: left;
}

/*========================= Menu =========================*/

.menuButton {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 2rem;
    width: 2rem;
    z-index: 100;
    transform: translateY(0%) scale(0) rotate(-120deg);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    pointer-events: none;
}

.scrollnow .menuButton {
    transform: translateY(0) scale(1) rotate(0);
    transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    pointer-events: auto;
}

.menuButton::before {
    content: "";
    background-image: url("assets/img/hamburger.svg");
    background-size: 2rem;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
    display: block;
}

.scroll {
    width: 33%;
    height: 100%;

}

.menu {
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translate(100vw, 0);
}

.menuOpen .menu {
    transform: translate(0,0);
    transition: transform 1.15s cubic-bezier(0.19, 1, 0.22, 1);
}

/*========================= General Changes =========================*/

section {
    text-align: center;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Verdana";
    font-size: 10pt;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    color: azure;
}

*::before, *::after {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
