.Header {
    background-color: yellow;
    position: relative;
    display: inline-block;
}

.inner {

}



.title {
    height: 100vh;
    min-height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
